{% extends 'survey/base.html' %}
{% block title %}Current Surveys{% endblock %}
{% block content %}
<h1>Your list of Surveys</h1>
<p>Clicking and item will launch the Survey.</p>


<!-- TODO: make this a table -->
{% for survey in page_obj %}
    {# Each "survey" is a Survey model object. #}
    <li>ID: {{ survey.id }} <a target="_blank" href="/survey/{{ survey.id }}">{{ survey.name }}</a></li>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}
